.DS_Store
__pycache__/speed_script_events.cpython-310.pyc
__pycache__/main_analyzer_advanced.cpython-310.pyc
__pycache__/video_generator.cpython-310.pyc
__pycache__/yolo_analyzer.cpython-310.pyc
analysis_results_mario/class_id_map.csv
analysis_results_mario/config.json
analysis_results_mario/eyetracking_file/3d_eye_states.csv
analysis_results_mario/eyetracking_file/blinks.csv
analysis_results_mario/eyetracking_file/events.csv
analysis_results_mario/eyetracking_file/external.mp4
analysis_results_mario/eyetracking_file/fixations.csv
analysis_results_mario/eyetracking_file/fixations_enriched.csv
analysis_results_mario/eyetracking_file/gaze.csv
analysis_results_mario/eyetracking_file/gaze_enriched.csv
analysis_results_mario/eyetracking_file/internal.mp4
analysis_results_mario/eyetracking_file/saccades.csv
analysis_results_mario/eyetracking_file/surface_positions.csv
analysis_results_mario/eyetracking_file/world_timestamps.csv
analysis_results_mario/plots/fragmentation_recording.begin.pdf
analysis_results_mario/plots/fragmentation_recording.end.pdf
analysis_results_mario/processed_data/segment_0_recording.begin.pkl
analysis_results_mario/processed_data/segment_1_recording.end.pkl
analysis_results_mario/stats_per_class.csv
analysis_results_mario/stats_per_instance.csv
analysis_results_mario/summary_results_mario.csv
analysis_results_mario/video_output_1.mp4
analysis_results_mario/yolo_detections_cache.csv
yolov8n.pt
